.body {
	letter-spacing: 0.1rem;
	font-size: 1rem;
	// text-align: justify;

	p {
		color: rgb(206, 205, 205);
		font-size: 0.9rem;
	}

	h2 {
		font-size: 1rem;
		font-weight: 700;
		font-style: italic;
	}
}
