@import './styles/_variables.scss';

.App {
	height: 100vh;
	display: flex;

	&--left {
		width: 40%;
		padding: 0 0 0 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: $bp-medium) {
			width: 80%;
			padding: unset;
			box-sizing: border-box;
			margin: auto;
		}
	}

	&--right {
		width: 60%;
		overflow: scroll;

		&-container {
			padding: 0 4rem;
			height: 100%;

			@media (max-width: $bp-medium) {
				padding: 0 1rem;
			}
		}

		@media (max-width: $bp-medium) {
			width: 100%;
		}
	}

	@media (max-width: $bp-medium) {
		width: 100%;
		height: unset;
		display: flex;
		flex-direction: column;
	}
}
